%section.saml-group-links
  = gitlab_ui_form_for [group, SamlGroupLink.new], { data: { testid: 'new-saml-group-link' } } do |f|
    .form-holder
      .form-group.row
        .col-sm-2.col-form-label
          = f.label :saml_group_name, s_('GroupSAML|SAML Group Name')
        .col-sm-10
          = f.text_field :saml_group_name, class: 'form-control xxlarge input-mn-300'
          .form-text.text-muted
            = s_('GroupSAML|The case-sensitive group name that will be sent by the SAML identity provider.')

      .form-group.row
        .col-sm-2.col-form-label
          = f.label :access_level, "Access Level"
        .col-sm-10
          .js-saml-group-link-role-selector{ data: { saml_group_link_role_selector_data: saml_group_link_role_selector_data(group, current_user).to_json } }
          .form-text.text-muted
            = s_('GroupSAML|Role to assign members of this SAML group.')

    .form-actions.gl-mb-5
      = f.submit _('Save'), pajamas_button: true
